* {
  user-select: none;
  -webkit-user-drag: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .static1, .static2 {
    width: 100%;
    height: 100%;
    background-image: url("/static/start.jpg");
    background-size: cover;       /* scale to cover viewport */
    background-position: center;  /* center the image */
    background-repeat: no-repeat;
  }
  
  .startBtn {
    user-select: none;
    background: none;        /* remove background */
    border: none;            /* remove border */
    color: rgba(197, 197, 89, 0.5);           /* yellow text */
    font-size: 10vw;         /* bigger text if you want */
    cursor: pointer;         /* show pointer on touch/click */
    font-family: sans-serif; /* optional font style */
    position: absolute;
    top: 10%;             /* place near bottom */
    left: 50%;
    transform: translateX(-50%);
    padding: 0;              /* remove default padding */
    animation: blink 1s infinite;
  }

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
  


/* Animation 1 video full-screen */
#anim1 {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    overflow: hidden;
  }
  
#anim1 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  #holdText {
    position: fixed;
    top: 15%;
    left: 50%;
    width: 60vw;
    transform: translate(-50%, -50%);
    color: rgb(194, 194, 114);
    font-size: 10vw;
    text-align: center;
    z-index: 100;
    display: none; /* hidden until Animation1 ends */
  }
  
  #anim2, #anim3 {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 99;
  }
  
  #anim2 video, #anim3 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }